.content {
  position: relative;
  display: flex;
  align-items: stretch;
  margin-top: 30px;
}

.left {
  flex-grow: 1;
  margin-right: 30px;
}

.right {
  width: 400px;
}

.textFields {
  display: flex;
  flex-direction: column;
}

.card:not(:first-of-type) {
  margin-top: 30px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin: 30px;
}

.iframe {
  width: 100%;
  height: 100%;
}

.arrows {
  width: 200px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  right: 0;
  top: -50px;
}
